<a href="https://colab.research.google.com/github/AkuOO4/python-assigment-1/blob/main/python_assigment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. FLOWCHART TO FIND THE REVERSE OF A GIVEN NUMBER

In [ ]:
a=int(input("enter a num"))
copy=a
rev=0
while a>=1:
  rev=rev*10+a%10
  a=a//10
print("reversed number ",rev)

enter a num3456
reversed number  6543

2. FLOWCHART TO FIND THE REVERSE OF A GIVEN NUMBER

In [ ]:
a=int(input("enter n"))
for i in range(a+1):
  print(i)

enter n10
0
1
2
3
4
5
6
7
8
9
10

3. FLOWCHART TO PRINT THE SUM OF THE FACTORS OF A NUMBER

In [ ]:
a=int(input("enter a num")
s=0
for i in range(a//2+1):
  if a%i==0:
    s+=i
print("sum is",s)

4 FLOWCHART TO PRINT THE N TERMS OF AN ARITHMETIC SEQUENCE

4. FLOWCHART TO PRINT THE N TERMS OF AN ARITHMETIC SEQUENCE

In [ ]:
a=int(input("enter a"))
d=int(input("enter diff"))
n=int(input("enter lim"))
for i in range(n):
  print(a)
  a+=d

enter a3
enter diff1
enter lim3
3
4
5

5. FLOWCHART TO PRINT THE N TERMS OF THE FIBONACCI SERIES

In [ ]:
a=int(input("enter lim"))
a1=0
a2=1
for i in range(a):
  print(a1)
  d=a2
  a2=a1+a2
  a1=d

enter lim5
0
1
1
2
3

6. FLOWCHART TO CHECK WHETHER A NUMBER IS PALINDROME OR NOT

In [ ]:
a=int(input("enter a num"))
cop=a
rev=0
while a>1:
  rev=rev*10+a%10
  a//10
if cop==rev:
  print("its a palin")
else:
    print("its not a palin")

7. FLOWCHART TO CHECK WHETHER A NUMBER IS ARMSTRONG OR NOT

In [ ]:
d=int(input("enter"))
i=d
j=d
a=0
n=0
while j!=0:
  j=j//10
  n+=1
while i!=0:  #adding the num raised to pow
  b=i%10
  c=b**n
  i=i//10    
  a+=c
if a==d:
  print("its amstrong number")
else:
  print("not an amstrong")

enter153
its amstrong number

8 FLOWCHART TO EVALUATE X^n

In [ ]:
x=int(input("enter x"))
n=int(input("enter n "))
for i in range(n+1):
  print(x**i)

enter x5
enter n 5
1
5
25
125
625
3125

9 FLOWCHART TOP PRINT FIRST N ODD NUMBER

In [ ]:
n=int(input("enter lim "))
a=1
for i in range(n):
  print(a)
  a+=2

enter lim 5
1
3
5
7
9

10. FLOWCHART TO PRINT GCD OF 2 NUMBERS

In [ ]:
a=int(input("enter a num"))
b=int(input("enter num"))
gcd=0
m=a
if a>b:
  m=b
for i in range(1,m+1):
  if a%i==0 and b%i==0:
    gcd=i
if gcd==0:
  print("no gcd")
else:
  print(gcd," is the gcd")

enter a num20
enter num10
10  is the gcd

11. FACTORIAL OF A GIVEN NUMBER

In [ ]:
a=int(input("enter the number"))
fact=1
if a==0:
  print(1)
else:
  while a>1:
    fact*=a
    a-=1
  print(fact)

enter the number5
120

12  SQUARES OF NATURAL NUMBERS BETWEEN TWO
NUMBERS

In [ ]:
a=int(input("enter start"))
n=int(input("enter end"))
for i in range(a,n+1):
  print(i**2)

enter start5
enter end10
25
36
49
64
81
100

13  FIND THE SUM OF THE GIVEN SERIES, UP TO N
TERMS. S = 1 - 4 + 9 - 16 + ....

In [ ]:
n=int(input("enter n"))
s=0
sign=1
for i in range (1,n+1):
  s+=sign*(i**2)
  sign=-sign
print("sum ",s)

enter n4
sum  -10

14  CHECK WHETHER A GIVEN NUMBER IS
AUTOMORPHIC OR NOT

In [ ]:
a=int(input("enter a num"))
sqr=a**2
ct=0
copy=a
while copy>1:
  ct+=1
  copy=copy//10
if sqr%(10**ct)==a:
  print("they are automorphic")
else:
  print("the are not")

enter a num5
1
they are automorphic

15 FLOWCHART TO READ A BINARY NUMBER AND PRINT ITS DECIMAL
EQUIVALENT

In [ ]:
a=int(input("enter the binary"))
dec=0
ct=0
while a>0:
  add=a%10
  dec+=add*(2**ct)

  ct+=1

  a=a//10
print(dec)

enter the binary10011
19