<a href="https://colab.research.google.com/github/AkuOO4/python-assigment-1/blob/main/Python_Assigment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PYTHON ASSIGMENT-1**

**AKSHAY K S**

print the Average of Three Numbers.

In [2]:
a=int(input("enter num1 "))
b=int(input("enter num2 "))
c=int(input("enter num3 "))
sum=a+b+c
avg=sum/3
print("average is ",avg)

enter num1 5
enter num2 6
enter num3 7
average is  6.0

print the Sum and Average of Three Numbers.

In [1]:
a=int(input("enter num1 "))
b=int(input("enter num2 "))
c=int(input("enter num3 "))
sum=a+b+c
avg=sum/3
print("sum is ",sum)
print("average is ",avg)

enter num1 5
enter num2 10
enter num3 15
sum is  30
average is  10.0

Convert the Time entered in Seconds to Hours,Minutes,Seconds.

In [5]:
time=int(input("enter time is seconds"))
print("time in hours is ",round(time/360,2))
print("time in minutes is ",round(time/60,2))
print("time in seconds is ",time)

enter time is seconds5000
time in hours is  13.89
time in minutes is  83.33
time in seconds is  5000

Print the Area and Perimeter of a Triangle.

In [9]:
a=int(input("enter side1 "))
b=int(input("enter side2 "))
c=int(input("enter side3 "))
s=(a+b+c)/2
print("perimeter of the triangl is ",a+b+c)
area=(s*(s-a)*(s-b)*(s-c))**0.5
print("area of the triangle is ",area)

enter side1 3
enter side2 4
enter side3 5
perimeter of the triangl is  12
area of the triangle is  6.0

Print the Area of a Circle.

In [17]:
r=int(input("enter radius"))
area=round((22/7)*r**2,2)
print("area of the circle is ",area)

enter radius5
area of the circle is  78.57

enter two unequal number and interchange them without using a third variable

In [18]:
x=(int(input("enter x")))
y=(int(input("enter y")))
x=x*y
y=x/y
x=x/y
print("x is ",x)
print("y is ",y)

enter x10
enter y11
x is  11.0
y is  10.0

 display sum, difference, product, quotient and remainder of two unequal numbers.

In [20]:
a=int(input("enter num "))
b=int(input("enter diff num "))
print("sum",a+b)
print("product ",a*b)
print("quotient ",int(a/b))
print("remainder ",a%b)

enter num 20
enter diff num 3
sum 23
product  60
quotient  6
remainder  2

Write a program to enter the number of days and display into years, months and days.

In [22]:
day=int(input("enter days"))
print("number of years ",int(day/360))
print("number of months ",int(day/12))
print("number of days ",day)

enter days5000
number of years  13
number of months  416
number of days  5000